<!--Copy pasted the boilerplate html from public/help.html-->
<!DOCTYPE html>
<html> 
    <head>
        <!--Setting up the charset so that browser knows how to render our webpage-->
        <meta charset='utf-8'>
        <title>Some website</title> <!--Title of the tab on chrome-->
    </head> 
    <body>
        <h1>We'll be right back.</h1>    
        <p>The site is currently being updated.</p>
    </body>
</html>  