<!--// Registering an hbs partial is basically a code snippet that you can automatically copy paste wherever you want to use it by just typing the partial, without the need of typing out this snippet everywhere you want to use that snippet-->
<header>
    <h1>{{pageTitle}}</h1>
    <p><a href="/"> Home </a></p>
    <p><a href="/about"> About </a></p>
    <p><a href="/projects"> Portfolio </a></p>
</header>
